// @use "./colors" as *;

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--white);
  font-family: "Comic Neue", cursive;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Comic Neue", cursive;
}

h3 {
  font-size: 1.5rem;
  // font-weight: 600;
  font-family: "Comic Neue", cursive;
}
h4 {
  font-size: 1.3rem;
  //   font-family: ;
  font-family: "Comic Neue", cursive;
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Comic Neue", cursive;
}
h6 {
  font-size: 0.82em;
  font-weight: 300;
  font-family: "Comic Neue", cursive;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Comic Neue", cursive;
}
